# Azure Pipelines - 11Care Nursing Platform
# Pipeline simplificada para Build da aplicação

trigger:
  - main
  - develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '20.x'

stages:
  - stage: Build
    displayName: 'Build Application'
    jobs:
      - job: BuildJob
        displayName: 'Install & Build'
        steps:
          # Instalar Node.js
          - task: NodeTool@0
            inputs:
              versionSpec: $(nodeVersion)
            displayName: 'Instalar Node.js $(nodeVersion)'

          # Instalar dependências
          - script: npm ci
            displayName: 'Instalar dependências (npm ci)'

          # Build do projeto (TypeScript backend + Vite frontend)
          - script: npm run build
            displayName: 'Compilar aplicação'
            env:
              NODE_ENV: production

          # Publicar artefatos de build
          - task: CopyFiles@2
            displayName: 'Copiar arquivos de build'
            inputs:
              SourceFolder: '$(Build.SourcesDirectory)'
              Contents: |
                dist/**
                client/dist/**
                package*.json
                drizzle/**
                shared/**
              TargetFolder: '$(Build.ArtifactStagingDirectory)'

          - task: PublishBuildArtifacts@1
            displayName: 'Publicar artefatos'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: '11care-build'
              publishLocation: 'Container'
